/*  */
#wrapper{
    position:relative; overflow:hidden;
    width:100%;height:100vh;
    background:#111;}

.cont{
    position:absolute; overflow:hidden;
    width:100%;height:100vh;
    left:0;}

/*  */
#cont_1{
    display:flex;flex-wrap:wrap;
    justify-content:center;align-items:center;
    top:0;
    font-size:10vw;color:#fff;}

/*  */
#cont_2{
    top:0%;
    /* top:100%; */
    transition:top 1s;}

#slider{
    display:flex;
    align-items:flex-start;
    position:absolute;
    height:500px;
    top:calc(50% - 200px); left:10vw;
    
    transition:transform .3s;}

#slider li{
    flex:none;
    display:flex;
    justify-content:center;align-items:center;
    position:relative; overflow:hidden;
    height:100%;
    aspect-ratio:1/1;
    margin:0 200px 0 0;
    transition:transform .2s;}

    #slider li:nth-child(2n){top:-30%;}
    #slider li:nth-child(3n){top:30%;}

#slider li div{
    text-align:center;
    position:relative;z-index:5;
    /*width:calc(100% - 4rem);
    height:calc(100% - 4rem);*/
    width:100%;
    height:100%;
    /*background-color:rgba(255,255,255,0.3);
    border:1px solid rgba(255,255,255,0.7);*/
}
#slider li div img{width:auto; height:100%;}
#slider li.default{background-color:rgba(255,255,255,0.3)}
#slider li.default div{
    border:1px solid rgba(255,255,255,0.7);
    background: linear-gradient(
        to top right,
        rgba(255,255,255,0) calc(50% - 1px),
        rgba(255,255,255,0.7),
        rgba(255,255,255,0) calc(50% + 1px)
    );
    line-height:500px;
}
#slider li.default div:after{
    position:absolute;z-index:5;
    top:0;right:0;
    content:'';
    width:100%;
    height:100%;
    background: linear-gradient(
        to bottom right,
        rgba(255,255,255,0) calc(50% - 1px),
        rgba(255,255,255,0.7),
        rgba(255,255,255,0) calc(50% + 1px)
      );
}

.redSpan{
    display:block;position:absolute;
    left:0;top:0;
    width:10px;height:10px;
    background:rgba(2,241,60, 0.5);
    border-radius:50%;
    transform:scale(.1);
    transition:all .8s;
    z-index:6;
}

/* .redSpan.on{width:100%;height:100%;} */

/*  */
#indicator{
    position:absolute;
    left:50%;bottom:10%;
    transform:translateX(-50%);
    width:80%; height:4px;
    background:#111;
    border:1px solid #275833;
    border-radius:2px;
    overflow:hidden;
}

#indi_bar{
    position:absolute;
    left:0;top:0;
    height:100%;width:100%;
    background:rgba(2,241,60, 0.5);
    clip-path:polygon(0% 0%, 10px 0%, 10px 100%, 0% 100%);
    transition:all .2s;}
