@charset "utf-8";

@font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }

/* margin int */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* a link int */
a {color: #333; text-decoration: none;}
a:hover {color: #2698cb;}

/* font int */
body, input, textarea, select, button, table {font-family:'Abel', 'Iropke Batang' /*'GyeonggiTitleM'*/, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #333; font-size: 13px; line-height: 1.5;}

/* font style int */
em,address {font-style: normal;}

/* bullet int */
ul,li,ol {list-style:none;}

/* title int */
h1,h2,h3,h4,h5,h6 {font-size: 13px; font-weight: normal;}

/* border int */
img,fieldset {border:0 none;}

/* button int */
button {border: 0;}

/* responsible design */
video,img {width: 100%;}





