@charset "utf-8";

/* contents */
#contents {}
#section1 {height: 100vh;}
/*#section2 {background: #f7fcfa;  
  background: linear-gradient(90deg, #f7fcfa 21px, transparent 1%) center, linear-gradient(#f7fcfa 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;}
#section3 {background: #F32740;background: linear-gradient(90deg, #F32740 21px, transparent 1%) center, linear-gradient(#F32740 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;}
#section4 {background: #f7fcfa;background: linear-gradient(90deg, #f7fcfa 21px, transparent 1%) center, linear-gradient(#f7fcfa 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;}
#section5 {background: #F32740;background: linear-gradient(90deg, #F32740 21px, transparent 1%) center, linear-gradient(#F32740 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;}
#section6 {background: #f7fcfa;background: linear-gradient(90deg, #f7fcfa 21px, transparent 1%) center, linear-gradient(#f7fcfa 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;}*/
/*#section2 {background: #f7fcfa;}*/

/* section detail */
/* home section */
.scrollBtn{position: fixed; bottom: 0; right: 0;z-index: 99; margin-bottom: 40px; margin-right: 64px;}
.scrollBtn ul {}
.scrollBtn ul li{margin: 10px; position: relative;}
.scrollBtn ul li.active a{background:#f7d230;}
.scrollBtn ul li a{display: inline-block; width: 30px; height: 30px; border-radius: 15px; text-align: center; background: #fff;}
.scrollBtn ul li.active a{background:#f7d230;}
.scrollBtn ul li a i{line-height: 33px;}
.scrollBtn ul li span{display: none; position: absolute; right: 40px; top: 2px; padding: 0px 16px; font-weight: bold; background: #fff; border-radius: 12px;}
.scrollBtn ul li.active span{display:block;}
.scrollBtn ul li:hover span, .sec1 .scrollBtn ul li:focus span, .sec1 .scrollBtn ul li:active span{ display:block; }

.page1 {}
/* .page1 div{ margin-left: 10vw;margin-top: 80px;padding: 40px; transition: border-radius ease 0.5s;}*/
.page1 canvas{width:100%; height:100%;} 

.introduce{padding:4vw; height:100%;min-height:720px;background-image: url(../img/keyboard_3d_trn.png);    background-position: bottom right; background-position-x: 200px;background-size:100%;background-repeat: no-repeat;}
.introduce .text01{font-weight:500;font-size:100px;line-height: 1.2em;}
.introduce .text01 a{font-size:150px;line-height: 1em;margin-top:2vw;color:#00f13c;font-family:"Modak";}
/*.introduce .img01{position:absolute;top:0;right:0;}*/

/* introduce sec */
.introduce .text01 a {
  display:inline-block;margin-right: 2vw;
  transform-style: preserve-3d;
}
/* portfolio sec */
.work01{}

/* about section */
.imgG{width:200px;position:absolute;top:0;left:0;z-index:99;}
.aboutMe{padding:6vw 4vw;min-height:720px;}
.aboutMe h2{font-size:100px;line-height:0.8em;margin-bottom:3vw}
.aboutMe h2 a{font-weight:800;}
.menu-button{
  display:inline-block;color:#00f13c;margin-right: 2vw;
  transform-style: preserve-3d;
}
.menu-button:focus, .menu-button:hover{color:#00f13c;text-decoration:underline 1px solid;}
.aboutMe p{font-weight:300;font-size:24px;}

/*.page2{position: relative; z-index: 1;}*/
.page2 div{width: 70vw;margin-top: 10vw;margin-left: 10vw;}
.page2 h2{margin-top: 4vh;padding-top: 0;padding-left: 10vw; }

.page2 .tle{width: 30vw;height: 30vw;float: left;border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;box-shadow: 15px 15px 50px rgba(0,0,0,0.2);animation: morphing 10s infinite;overflow: hidden;}
.page2 .tle:hover {
  animation-play-state: paused;
}
.page2 .cont{width: 40vw;float: left;}

/* skills section */
/*.page3{text-align: center;}
.page3 h2{font-size: 7vw;padding-right: 10vw;}
.page3 div ul{width: 80vw;margin: 60px auto;}
.page3 div ul li{width: 18vw;float: left; margin-right: 2vw;padding: 2vw 0;}
.page3 div ul li:nth-child(4){margin-right: 0;}
.page3 div ul li p{font-size: 14px;font-weight: normal;margin: 0 auto;}
.page3 div ul li p:nth-child(1){width: 70%;}
.page3 div ul li h3{font-family: 'Space Mono', monospace; font-size: 16px; font-weight: bold; margin: 10px 0;}*/

/* contact sec */
.contact{min-height:720px;padding:6vw 4vw;background-image: url(../img/duct01.png);background-position: center center; background-size:100%;background-repeat: no-repeat;}
.contact h2{margin-bottom:3vw;
    -webkit-text-stroke: 1px #111;}
.contact p{
    -webkit-text-stroke: 1px #111;}
.contact a{
    color:rgb(2,251,60);
    -webkit-text-stroke: 1px #111;
/*    text-decoration: underline 1px solid rgb(2,251,60);}*/
}

.popup{display: none;position: fixed; width: 100%;height: 100%; top: 0; left: 0;z-index: 100;background-color: rgba(0,0,0,0.4);}
.popup .fm-email{position: relative;max-width:600px;margin:10vh auto;background: #fefff1;  
  background: linear-gradient(90deg, #fefff1 21px, transparent 1%) center, linear-gradient(#fefff1 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px; border: 1px solid #fff;border-radius:20px;overflow:hidden;}
.popup .btn-close{position: absolute;top: 0;right: 0;border-left: 1px solid #111;}
.popup .btn-close a{padding: 6px 18px;display: block;font-size: 32px;}
.popup form{ padding-bottom:30px; }
.popup h3{font-size: 24px;border-bottom:1px solid #fff;color: #111;background-color: #fff;padding: 10px 30px;}
.popup .fm-txt{padding: 30px 20%;font-size: 20px;}
.popup form label{padding: 0 20% ;font-weight: bold;display: block; margin-bottom: 15px;}
.popup form label span{display: block;}
.popup form label input, .popup form label textarea{font-size: 16px;border:none;border-bottom:1px solid #111;background-color: rgba(255,255,255,0.5);width:100%;padding: 10px;}
.popup form label input:focus, .popup form label textarea:focus{border: 1px solid #111 !important;}
.popup form label textarea{min-height: 150px;}
.popup form p{text-align: center;}
.popup form button{ padding:10px 20px;background-color: #F32740; color:#fefff1;font-size:18px;font-weight: bold; }
.popup.pop-open{display: block;}
.popup.pop-close{display: none;}

.popup .pop-proj{position: relative; border: 1px solid rgba(255,255,255,0.5);overflow:hidden;border-radius:20px;margin: 5% auto;max-width: 1000px;height: 80%;max-height: 800px;background: #111;
/*  background: linear-gradient(90deg, #fefff1 21px, transparent 1%) center, linear-gradient(#fefff1 21px, transparent 1%) center, #a799cc; */
  background-size: 22px 22px;}
.popup .pop-proj .pop-wp-proj{overflow: auto;max-height: 742px;height: 90%;}
.popup .pop-proj .pop-wp-proj::-webkit-scrollbar { display:none; }
.popup .pop-proj h4{font-size: 20px;padding: 20px 30px;}
.popup .pop-proj .proj-tt{font-size: 20px;}
.popup .pop-proj h4 span{font-size: 24px;}
.popup .pop-proj .pop-wp-proj p{padding: 0px 30px;}
.popup .pop-proj .pop-wp-proj .last{margin-bottom: 60px;}

/*.page5{position: relative;}*/
/*.page5 h2{font-size: 7vw;}*/
.page5 .info{width: 80vw; margin: auto;}
.page5 .info:nth-child(2){margin-top: 30px;}
.page5 .info:nth-child(2) p{font-size: 28px;color: #888888;}
.page5 .info:nth-child(2) p:nth-child(1){font-size: 32px;color: #101010;}
.page5 .info p a{color: #F32740;}
.page5 .foot{position: absolute;/*top: -9999px;*/bottom: 40px;}


/* Responsible */
@media (max-width: 1200px){

}

@media (max-width: 640px){
  .page2 .tle{width: 80vw;float: none;}
  .page2 .cont{float: none;width: 80vw;}
  .page3 div ul li p:nth-child(1){width: 50%;}
  .page3 div ul li{width: 35vw;}
  .page3 div ul li p{font-size: 12px;}
  .page3 div ul li p:nth-child(3){min-height: 130px;}
  .page4 .card{overflow: inherit;}
  .page4 .card .bg{width: 35vw;height: 35vw;margin-bottom: 4vw;}
  .page5 .info:nth-child(2) p:nth-child(1){font-size: 16px;}
  .page5 .info:nth-child(2) p{font-size: 14px;}
}

@media (max-width: 576px){
  .page1 div {
        display: block;
      margin-left: 5%;
      width: 79%;
      margin-right: 5%;
      margin-top: 10%;
      padding: 5%;
  }

}
@media (max-width: 375px){

}

@media (max-width: 320px){
}

